.fix-menu{
    flex-direction: column;
}
.part-1{
    margin-bottom: 2rem;

}
.footer{
    flex-direction: column;

}
.footer ul{
    margin: 2rem;
}
.top-menu{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 4.375rem;
}
/* .part-1{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  } */
  .top-photo {
    max-width: 60%;
    margin-left:1rem;
    margin-right: 2%;
    border-radius: 3%;
    padding-bottom: 2%;
}
.part-1-text{
    margin-right: 4rem;

}
/* .part3{
    margin-right: 1rem;

} */
.part3item{
    width: 30%;
    margin-left: 2rem;
    /* margin-right: 7rem; */
    flex-direction: column;
  
    
}
.lastitem{
    margin-right: 7rem;

}
.photos-personal{
    display:block;
   margin-left: 2rem;
}
